{% extends 'base.html' %}

{% block header %}
<div class="ui big form" style="margin: auto; max-width: 650px">
    <h1>{% block title %}Entrar{% endblock %}</h1>
    <hr>
    <br/>
</div>
{% endblock %}

{% block content %}

<div class="ui big form" style="margin: auto; max-width: 650px;">
    <form method="post">
        <div class="required field">
            <label for="username">Usuário</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="required field">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>
        </div>
        <input class="fluid ui inverted green button" type="submit" value="Entrar">
    </form>
</div>
{% endblock %}
